<configuration>
    <runtime>
        <appDomainManagerType value="Antijank.AppDomainManager" />
        <appDomainManagerAssembly value="Antijank, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <gcServer enabled="true" /> <!-- yes please -->
        <Thread_UseAllCpuGroups enabled="true" /> <!-- edge cases -->
        <GCLOHThreshold enabled="1048576" /> <!-- bump from 85000, allow more objs to be GC'd -->
    </runtime>
</configuration>